.nav-link {
  color: white;
}
.nav-link:hover {
  color: rgb(231, 230, 230);
}
.jkdunkey-logo {
  height: 40px;
  border-radius: 10%;
  transition: all 0.2s;
}
.jkdunkey-logo:hover {
  border-radius: 20%;
}
.jkdunkey-logo:active {
  border-radius: 30%;
}
body {
  margin: 0 auto;
}
